html {
    font-family: Roboto, serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    align-items: center;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: auto;
}


main {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

@media (max-width: 500px) {
    /*
    Media queries for mobile view
     */
}

/*
Header transition
 */
#header {
    transition: top ease-in-out 0.5s;
    top: 0;
}

.scroll#header {
    top: -80px;
}