:root {
    --primary: #012030;
    --secondary: #13678A;
    --tertiary: #45C4B0;
    --background-primary: #DAFDBA;
    --background-primary-light: #DAFDBA80;
    --background-primary-ultra-light: #DAFDBA40;
    --background-secondary: #9AEBA3;
    --background-secondary-light: #9AEBA380;
    --background-secondary-ultra-light: #9AEBA340;
}

html {
    font-family: Poppins, serif;
    color: var(--primary);
}


header {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    background: white;
    height: 90px;
    z-index: 1;
}

nav {
    display: flex;
}

.text-centered {
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 30px;
    color: var(--secondary);
}

.background--primary-light {
    background: var(--background-primary-light);
}

.logo__title {
    font-size: 24px;
}

img {
    height: 100%;
    width: auto;
}

.padding-24 {
    padding: 24px;
}

main {
    display: flex;
    flex-direction: column;
}

section.fake {
    position: relative;
    height: 215px;
    margin-bottom: 72px;
}

section:first-of-type {
    padding: 114px 24px 24px 24px;
}

section > div {
    margin-bottom: 48px;
}

/*
Header transition
 */
#header {
    transition: top ease-in-out 0.5s;
    top: 0;
}

.scroll#header {
    top: -90px;
}

.rounded {
    border-radius: 80px;
    padding: 16px 24px;
    border: 1px solid var(--primary);
}

.img--rounded {
    border-radius: 16px;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

button.button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 16px 24px;
    border-radius: 80px;
    text-transform: uppercase;
}

.button.button--primary {
    background: var(--secondary);
    color: white;
}

.button.button--secondary {
    background: white;
    color: var(--secondary);
}

.pull {
    position: absolute;
}

.pull--up {
    top: -48px;
    left: 150px;
}

.pull--down {
    bottom: -215px;
    right: 150px;
}

.flx-ctn {
    display: flex;
}

.flx-ctn.flx-ctn--centered {
    align-items: center;
}

.flx-ctn.flx-ctn--column {
    flex-direction: column;
}

.flx-ctn.flx-ctn--space-evenly {
    justify-content: space-evenly;
}

.flx-ctn.flx-ctn--column.flx-ctn--centered {
    align-items: center;
}

.flx-ctn:not(.flx-ctn--column).flx-ctn--centered {
    justify-content: center;
}

.flx-ctn.flx-ctn--gap-16 {
    gap: 16px;
}

.flx-ctn.flx-ctn--gap-24 {
    gap: 24px;
}

.flx-ctn.flx-ctn--wrap {
    flex-wrap: wrap;
}

.flx-ctn.flx-ctn--wrap:not(.flx-ctn--space-evenly) {
    justify-content: center;
}

.font-title {
    font-size: 62px;
}

@media (max-width: 480px) {
    .flx-ctn.mobile--wrap {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .pull {
        height: 250px;
    }

    .pull--up {
        top: -48px;
        left: 48px;
    }

    .pull--down {
        bottom: -48px;
        right: 48px;
    }

    section.fake {
        height: 450px;
    }
}

/*
Fonts
 */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}
